# Dictionary

d_var={key1:value1,key2:value2...}

In [1]:
# creating a dictionary
d_var={"name":"subi","course":"cda",1:["a",2,4,True]}

In [2]:
#create an empty dictionary
empty_d={}
type(empty_d)

dict

In [1]:
a={}
type(a)

dict

In [3]:
tup=tuple()
type(tup)

tuple

In [4]:
stud_d={"name":"Rohit","age":16,"class":"A"}

In [5]:
stud_d["age"] # for indexing enter key1 to get its value1 similarly for all

16

In [6]:
stud_d["name"]

'Rohit'

In [7]:
stud_d["email"]="rohit@gmail.com"
stud_d

{'name': 'Rohit', 'age': 16, 'class': 'A', 'email': 'rohit@gmail.com'}

In [8]:
stud_d["Ph"]=98765
stud_d

{'name': 'Rohit',
 'age': 16,
 'class': 'A',
 'email': 'rohit@gmail.com',
 'Ph': 98765}

In [9]:
stud_d["age"]=20
stud_d

{'name': 'Rohit',
 'age': 20,
 'class': 'A',
 'email': 'rohit@gmail.com',
 'Ph': 98765}

# Dictionary function

In [10]:
stud_d.update({"City":"Bangalore"})
stud_d

{'name': 'Rohit',
 'age': 20,
 'class': 'A',
 'email': 'rohit@gmail.com',
 'Ph': 98765,
 'City': 'Bangalore'}

In [11]:
stud_d.update({"Gender":"Male","State":"Karnataka"}) # by update we can update multiple values too
stud_d

{'name': 'Rohit',
 'age': 20,
 'class': 'A',
 'email': 'rohit@gmail.com',
 'Ph': 98765,
 'City': 'Bangalore',
 'Gender': 'Male',
 'State': 'Karnataka'}

In [12]:
stud_d.keys()

dict_keys(['name', 'age', 'class', 'email', 'Ph', 'City', 'Gender', 'State'])

In [13]:
stud_d.values()

dict_values(['Rohit', 20, 'A', 'rohit@gmail.com', 98765, 'Bangalore', 'Male', 'Karnataka'])

In [14]:
stud_d.items()

dict_items([('name', 'Rohit'), ('age', 20), ('class', 'A'), ('email', 'rohit@gmail.com'), ('Ph', 98765), ('City', 'Bangalore'), ('Gender', 'Male'), ('State', 'Karnataka')])

In [15]:
stud_d.pop("Ph") # remove specified key and return the corresponding value

98765

In [16]:
stud_d

{'name': 'Rohit',
 'age': 20,
 'class': 'A',
 'email': 'rohit@gmail.com',
 'City': 'Bangalore',
 'Gender': 'Male',
 'State': 'Karnataka'}

In [17]:
del stud_d["City"]

In [18]:
stud_d

{'name': 'Rohit',
 'age': 20,
 'class': 'A',
 'email': 'rohit@gmail.com',
 'Gender': 'Male',
 'State': 'Karnataka'}

# While loop

In [19]:
i=0
while i<5:
    print("Rohit")
    i=i+1
print("end of while")

Rohit
Rohit
Rohit
Rohit
Rohit
end of while

In [20]:
i=0
while i<3:
    print(i)
    i=i+1
print("last line")

0
1
2
last line

In [21]:
i=1 # odd number
while i<10:
    print(i*2-1)
    i=i+1
print("last line")

1
3
5
7
9
11
13
15
17
last line

In [22]:
i=1
while i<11 :
    square=i*i
    print("the value of square is",square)
    if square==25:
        break
    i=i+1
print("last line")

the value of square is 1
the value of square is 4
the value of square is 9
the value of square is 16
the value of square is 25
last line

In [23]:
i=1
while i<11:
    square=i*i
    print("square is ",square)
    if square==25:
        break
    i=i+1
print("last line")

square is  1
square is  4
square is  9
square is  16
square is  25
last line

In [24]:
i=1
while i<11:
    square=i*i
    if square==9:
        print("skip square 9")
        i=i+1
        continue
    print("the value of square is",square)
    i=i+1
print("last line")

the value of square is 1
the value of square is 4
skip square 9
the value of square is 16
the value of square is 25
the value of square is 36
the value of square is 49
the value of square is 64
the value of square is 81
the value of square is 100
last line

In [25]:
i=1
while i<11:
    square=i*i

    if square==25 or square==81:
        print("skip square 25 or 81")
        i=i+1
        continue
    print("the value of square is",square)
    i=i+1
print("last line")

the value of square is 1
the value of square is 4
the value of square is 9
the value of square is 16
skip square 25 or 81
the value of square is 36
the value of square is 49
the value of square is 64
skip square 25 or 81
the value of square is 100
last line

# For loop

In [49]:
city=["bang","chennai","hyd","mumbai"]
for c in city: # its syntax is for new variable c
    print(c)

bang
chennai
hyd
mumbai

In [50]:
city=["bang","chennai","hyd","mumbai"]
for c in city:
    if c=="hyd":
        break
    print(c)

bang
chennai

In [51]:
city=["bang","chennai","hyd","mumbai"]
for c in city:
    if c=="hyd":
        continue
    print(c)

bang
chennai
mumbai

In [1]:
for i in "Apple":
    print(i)

A
p
p
l
e

# Range

In [52]:
for x in range(5):
    print(x)

0
1
2
3
4

In [1]:
for i in range (5):
    print (i)

0
1
2
3
4

In [3]:
for i in range (11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [53]:
for y in range(3,20):
    print(y)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [54]:
for z in range(1,11,2):
    print(z)

1
3
5
7
9

In [55]:
str_var="Welcome to Datamites"
for s in str_var:
    print(s)

W
e
l
c
o
m
e

t
o

D
a
t
a
m
i
t
e
s

In [56]:
d_var={1:'apple',2:'orange',3:'bat'}
for d in d_var: # executes only the key
    print(d)

1
2
3

In [57]:
d_var={'name':'subi','age':21}
for key in d_var:
    print(f'{key}:{d_var[key]}')

name:subi
age:21

In [58]:
d_var={'name':'subi','age':21}
for key in d_var:
    print("the value of key is",key)
    print("the value is",d_var[key])
    print(key,":",d_var[key])

the value of key is name
the value is subi
name : subi
the value of key is age
the value is 21
age : 21

In [8]:
# print 2 tables 
for i in range (1,11):
    print (i,'x 2 =',i*2)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [9]:
# print 3 table 
for c in range (1,11):
    print(c,'x 3 =',c*3)

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [15]:
for i in range (8,15):
    print (i)

8
9
10
11
12
13
14

In [14]:
## for loop examples 
a=int(input())
b=int(input())
for i in range (a+1,b):
    print(i)

 4
 8

5
6
7

In [19]:
# print even no bt 1 to 10 
for i in range (1,11):
    if i%2 ==0:
        print(i)

2
4
6
8
10

In [20]:
# count no of even no bt 1 & 10 
count = 0
for i in range (1,11):
    if (i % 2 == 0):
        count = count+1
print(count)

5

In [6]:
# count odd no bt 1 and 10
count = 0
for i in range (1,7):
    if i %2 == 1:
        count = count +1
print(count)

3

In [12]:
# count odd and even nu bt 1 & 10 
e_count = 0
o_count = 0
for i in range (1,11):
    if i % 2 == 0:
        e_count = e_count +1
    else:
        o_count = o_count +1
print(e_count)
print(o_count)

5
5

In [13]:
# count no div by 3 and 5 num range 1-100
count=0
for i in range (1,101):
    if i % 3 == 0 and i % 5 == 0:
        count = count + 1
print(count)

6

In [4]:
# write program to find sum of 1st 5 natural numbers
sum=0
for i in range(1,6): # 1+2+3+4+5
    sum=sum+i
print(sum)

15

In [4]:
# write program to read 10 numbers form keyboard and frind their average

a=[]
print('Enter 10 numbers')
for i in range(5):
    num=int(input('Enter num '+str(i+1)))
    a.append(num)
print(a)

Enter 10 numbers

Enter num 1 1
Enter num 2 2
Enter num 3 3
Enter num 4 4
Enter num 5 5

[1, 2, 3, 4, 5]

# Nested for loop

In [59]:
for x in [1,2,3]:
    for y in ["Apple","Bat","Cat"]: # the execution holds x for 1 and runs all y then only returns to x
        print(x,y)

1 Apple
1 Bat
1 Cat
2 Apple
2 Bat
2 Cat
3 Apple
3 Bat
3 Cat

In [64]:
for i in range(1,50):
    if i%2==0:
        print(i) # prints only even numbers

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [69]:
names=['peter','thomas','england']
names_capital=[]
for name in names:
    names_capital.append(name.upper())
    print(names_capital)
print('the final list is ',names_capital)

['PETER']
['PETER', 'THOMAS']
['PETER', 'THOMAS', 'ENGLAND']
the final list is  ['PETER', 'THOMAS', 'ENGLAND']

# FUNCTIONS

In [73]:
def hello():
    print("good morning")

In [74]:
hello()

good morning

In [75]:
hello()

good morning

In [79]:
def add_two_numbers(a,b):
    c=a+b
    print("the value of c",c) # not execute as it is just defined

In [80]:
add_two_numbers(5,6)

the value of c 11

In [82]:
add_two_numbers(7,9)

the value of c 16

In [84]:
add_two_numbers(12)

TypeError: add_two_numbers() missing 1 required positional argument: 'b'

In [2]:
def add_function(a,b):
        c=a+b
        print("The value of c is :",c)
        return c # if return is not there the result will be none

In [3]:
result=add_function(4,3)
print("the value of result is",result)

The value of c is : 7
the value of result is 7

In [101]:
sum=add_function(5,3)+add_function(2,5)
print(sum)

The value of c 8
The value of c 7
15

In [102]:
# create a progam to calculate area of rectangle

In [104]:
def area_of_rectangle(l,b):
    area=l*b
    return area

In [105]:
area_of_rectangle(10,7)

70

In [110]:
def area_of_circle(r):
    return 3.14*r*r # by using power operator 3.14*r**2

In [120]:
radius=int(input("enter the value of radius"))
area_of_circle(radius)

enter the value of radius 5

78.5

In [121]:
def even_or_odd(num):
    if num%2==0:
        return"even"
    else:
        return"odd"

In [122]:
even_or_odd(5)

'odd'

In [123]:
even_or_odd(12)

'even'

# Lambda function

In [1]:
add_function=lambda a,b:a+b

In [2]:
add_function(5,3)

8

In [3]:
add_function(6,7)

13

In [4]:
compare=lambda x,y:x>y

In [5]:
compare(5,3)

True

In [6]:
compare(3,4)

False

In [9]:
check_even=lambda x: x%2==0

In [10]:
check_even(5)

False

In [11]:
check_even(8)

True

# filter function

In [15]:
# WAP to filter even numbers
num_list=[1,52,8,12,24,33,42,3,6,7,0]
even_function=lambda x:x%2==0
result=filter(even_function,num_list)
list(result)

[52, 8, 12, 24, 42, 6, 0]

In [16]:
num=[4,5,8,9,0,47,87,90,23]
even=lambda y:y%2==0
result=filter(even,num)
list(result)

[4, 8, 0, 90]

In [24]:
# WAP to filter number greater than 100
num=[100,200,50,300,366,80,60,302,101]
greater_than_100=lambda z:z>100
result=filter(greater_than_100,num)
list(result)

[200, 300, 366, 302, 101]

# map function

In [25]:
value_list=[1,2,4,3]
square_function=lambda i:i*i
res=map(square_function,value_list)
list(res)

[1, 4, 16, 9]

In [31]:
L1=[4,7,8,9,0]
L2=[1,2,3,4,7]
sum_funct=lambda x,y : x+y
res=map(sum_funct,L1,L2)
list(res)

[5, 9, 11, 13, 7]

# module math,functool,datetime

In [39]:
import math as m
val=m.sqrt(25)
val

5.0

In [40]:
z=m.factorial(5)
z

120

In [41]:
import functools as f
num_list=[1,4,3,2]
sum_all_element=lambda a,b:a+b
result=f.reduce(sum_all_element,num_list)
result

10

# datetime

In [42]:
from datetime import date

In [43]:
today=date.today()
today

datetime.date(2025, 9, 25)

In [44]:
today.year

2025

In [45]:
today.month

9

In [46]:
from datetime import datetime

In [47]:
today_var=datetime.today()
today_var

datetime.datetime(2025, 9, 25, 12, 42, 1, 588641)

In [49]:
from datetime import date,timedelta

In [51]:
current_date=date.today()
after_two_years=current_date+timedelta(730)
after_two_years

datetime.date(2027, 9, 25)

## loop DATA ENGG YOUTUBE

In [1]:
# for loop - prdict iteration of the output,counlnot give condn
names=["subi","rogu","kutty","amma","mani"]
for test in names: # test is a random variable to stisfy for syntax
    print(test.upper())

SUBI
ROGU
KUTTY
AMMA
MANI

In [2]:
# while loop loop repeats till condn is met
correct_pin='1234'
entered_pin=''

while entered_pin!=correct_pin:
    entered_pin=input("enter your correct pin")
print("access granted")

enter your correct pin 12
enter your correct pin 123
enter your correct pin 222
enter your correct pin 344
enter your correct pin 1234

access granted

In [4]:
# break in loop
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [7]:
roll_no=[1,2,3,4,9,5,6,7,8,10]
for i in roll_no:
    if i==9:
        break
    print(i)

1
2
3
4

In [11]:
# continue - skips and continue
n=[-2,8,-4,18,-11,25,8]
for num in n:
    if num<0:
        continue
    print(num)

8
18
25
8

In [13]:
# pass - place holder , holds place to write code in future
n=[-2,3,-5,18,3,-7]
for num in n:
    pass # future logic implementation

In [5]:
# real time example
count = 5

while count > 0:
    print(f"Countdown:{count}") # if f missed it prints count word repetedly
    count -= 1 # or count = count-1
    
print("Time's up!")

Countdown:5
Countdown:4
Countdown:3
Countdown:2
Countdown:1
Time's up!

In [19]:
items=[]
while True:
    item = input(" Add item (type 'done' to finish):")
    if item.lower()=="done":
        break
    items.append(item)
print("Item in cart:",items)

 Add item (type 'done' to finish): book
 Add item (type 'done' to finish): food
 Add item (type 'done' to finish): ticket
 Add item (type 'done' to finish): done

Item in cart: ['book', 'food', 'ticket']

## FUNCTION

In [17]:
def great():
    return("welcome to function") # return or print both are same

In [18]:
great()

'welcome to function'

In [23]:
def great(name):
    print(f"Hello {name},welcome!")

In [24]:
great(name)

NameError: name 'name' is not defined

In [25]:
great("Subesan")

Hello Subesan,welcome!

In [29]:
def add(a,b): # fn with 2 argument
    return (a+b) # return can be used if same fn need to be assigned to some other also 
result = add (5,2)
print(result)

7

In [30]:
print(result/1)

7.0

In [27]:
add(9,3)

12

In [34]:
# *args
def add(*args):
    total=0
    for num in args:
        total +=num
    return total

print(add(1,3,5)) # can change any number ,include any number for addn

9

In [36]:
#  **kwargs understands by default as key values 
def create_profile(**kwrags):
    print("User Profile")
    for key,value in kwrags.items():
        print(f"{key}:{value}")

create_profile(name='subi',age=21,job='Data Analyst')

User Profile
name:subi
age:21
job:Data Analyst

## Dict

In [9]:
stops={"silk":2,"ed":6,"cbe":7,"kpm":3}
for r,v in stops.items():
    print(r,":",v)

silk : 2
ed : 6
cbe : 7
kpm : 3

In [10]:
stops={"silk":2,"ed":6,"cbe":7,"kpm":3,"ed":67} # if 2 values in dict it considers latest updated value
for r,v in stops.items(): 
    print(r,":",v)

silk : 2
ed : 67
cbe : 7
kpm : 3

In [22]:
chocolates={
   "one": {"a":3,"b":4,"c":5,"d":6},
    "two":{"a":13,"b":14,"c":15,"d":16},
    "three":{"a":23,"b":24,"c":25,"d":26}
}
print("one digit chocolate",chocolates["one"])
print("two digit 10s chocolate",chocolates["two"]["a"])
print("two digit 20s chocolate",chocolates["three"]["c"])

one digit chocolate {'a': 3, 'b': 4, 'c': 5, 'd': 6}
two digit 10s chocolate 13
two digit 20s chocolate 25

In [4]:
for i in range (9,14):
    if i %2==0:
        print(i)

10
12