In [1]:
2+4

6

# Heading

In [3]:
print("hello")

hello

In [12]:
6+9

15

In [16]:
print(5)

5

### output function:print()

In [2]:
name= "subi"
print("name")

name

In [3]:
name= "subi"
print(name)

subi

In [4]:
name='subi'
degree='certified data analyst'
goal ='Data analyst , data enhancement , entrepreneur '

print(name)
print(goal)
print(degree)

subi
Data analyst , data enhancement , entrepreneur
certified data analyst

In [11]:
name = input('enter name:')
age = int(input('your age :'))
print('your age after 5 years :',age+5)

enter name: subi
your age : 21

your age after 5 years : 26

In [14]:
# area of rectangle 
length=int(input('enter length:'))
breadth = int(input('enter breadth:'))
print('area of rectangle:',length * breadth)

enter length: 2
enter breadth: 3

area of rectangle: 6

In [11]:
a="sasi"
f="vagam"
print(f'my friends are {a} and {f}')

my friends are sasi and vagam

In [6]:
print(f)

vagam

In [4]:
print("my name is",name)

my name is subi

In [8]:
fname="subu"
lname="kutty"
print(f' first name is {fname} and last name is {lname}')

 first name is subu and last name is kutty

In [11]:
a=4
b=6
print(f' sum of {a} and {b} is:',a+b)

 sum of 4 and 6 is: 10

# Type function

In [17]:
a="ask"
type(a)

str

In [18]:
b=44
type(b)

int

In [19]:
c=77.769
type(c)

float

In [56]:
d="True"
type(d)

str

In [23]:
e=True
type(e)

bool

# Variables

In [24]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [26]:
name1="man"
print(name1)

man

In [27]:
1name="man"
print(1name)

SyntaxError: invalid decimal literal (2239528292.py, line 1)

In [28]:
_=10
print(_)

10

In [29]:
user name="am"
print(user name)

SyntaxError: invalid syntax (214792600.py, line 1)

In [30]:
user_name="am"
print(user_name)

am

In [31]:
var$=65
print(var$)

SyntaxError: invalid syntax (1526513490.py, line 1)

In [32]:
%vol%=45
print(%vol%)

SyntaxError: invalid syntax (2722347437.py, line 2)

In [34]:
a=b=c=d=74
print(b,a,c,d)

74 74 74 74

In [35]:
a,b=75,34
print("the sum of a and b is :",a+b)

the sum of a and b is : 109

# Comments

### non executable statements

In [40]:
""" an
umbrella
down """
print(a,c)

75 74

In [42]:
name="vaibhavsakthi"
name[5] # privide the 5 th letter, 0 for 1st letter

'a'

# bool function

In [44]:
bool(0)

False

In [48]:
bool(12)

True

In [46]:
bool("")

False

In [47]:
bool(" ")

True

In [49]:
bool(False)

False

In [57]:
bool(0.5)

True

In [58]:
True==1

True

In [59]:
False==0

True

In [60]:
True==0

False

In [61]:
False==1

False

# strings

In [62]:
game="bb"
year="final yr"
print(Game)

NameError: name 'Game' is not defined

In [67]:
game="throw ball "
year="final yr"
print(game,year)

throw ball  final yr

In [68]:
print(game*4)

throw ball throw ball throw ball throw ball

In [76]:
a="eligible candidates"
a[8] # it represents space starts from 0

' '

In [78]:
a[-8] #-ve value starts from -1

'n'

In [79]:
a.upper()

'ELIGIBLE CANDIDATES'

In [85]:
a.index("t")

16

In [86]:
a.count("e")

3

In [87]:
a.lower()

'eligible candidates'

In [92]:
print(a[9])

c

In [93]:
a[0]

'e'

In [94]:
a[-6]

'i'

In [95]:
a[-8]

'n'

# book ex

In [118]:
s="subi"
if s =="subi":
    print("great to see u here "+ s + "!")
else:
    print("nice to meet u"+ s + "!")

great to see u here subi!

# String slicing

In [119]:
str2="GREAT EVENINGS"

In [120]:
str2[:]

'GREAT EVENINGS'

In [121]:
str2[:7]

'GREAT E'

In [122]:
b="fine fridays"

In [126]:
b[2:12]

'ne fridays'

In [133]:
b[2:11:3] # 11 exluded and (3 is step less 1 )then 2 step 4 means 3

'nfd'

In [138]:
b[::-1]

'syadirf enif'

In [139]:
c="good day"
c[::-1]

'yad doog'

# string concatenation

In [162]:
akka="anu "
anna="varun"# just add 2 words

In [163]:
couples=akka+anna
print(couples)

anu varun

In [164]:
akka

'anu '

In [165]:
"n"in akka

True

In [167]:
"j" not in anna

True

In [169]:
str3="                subesan                  "

In [170]:
str3.strip()

'subesan'

In [21]:
str4="we are the friends"

In [177]:
str4.partition("the")

('we are ', 'the', ' friends')

In [18]:
str.split("mani yaan")

['mani', 'yaan']

In [25]:
str4.endswith("s")

True

In [26]:
str4[5]

'e'

In [27]:
str4[1:2:3]

'e'

# arithmetic operators

In [9]:
a,b=7,5
print("a+b",a+b)
print("a-b",a-b)
print("a power b",a**b)
print("a mod b",a%b) # gives the remainder value when divided
print("a floor b",a//b) # gives only whole no result ignores decimals

a+b 12
a-b 2
a power b 16807
a mod b 2
a floor b 1

# LOGICAL OPERATORS

In [36]:
a=True
b=False
print("a=",a)
print("b=",b)
print("a and b =",a and b)
print("a or b =",a or b)
print("not a=",not a) #not a - if gn true then output is false 
print("not b =",not b) #not b - if gn false then output is true

a= True
b= False
a and b = False
a or b = True
not a= False
not b = True

# Comparison /relational operator

In [38]:
c=8
d=5
print("c>d",c>d)
print("c<d",c<d)
print("c==d",c==d)
print("c!=d",c!=d) #not equal to
print("c>=d",c>=d) #at least 1 condn must be true

c>d True
c<d False
c==d False
c!=d True
c>=d True

# input function

In [40]:
name=input("enter your name")
print(name)
print("the data type of name is:",type(name))

enter your name subi

subi
the data type of name is: <class 'str'>

In [46]:
age=input("your age is")

your age is 4

In [48]:
mark=float(input("your mark is:"))
print(mark)
print("mark type:",type(mark))

your mark is: 21

21.0
mark type: <class 'float'>

In [51]:
mark=int(input("your mark is:"))
print(mark)
print("mark type:",type(mark))

your mark is: 23

23
mark type: <class 'int'>

# conditional statement

### if statament

In [57]:
val=int(input("enter the number"))
if val>6:
        print("the number is greater than 6")
print("the num is independent")

enter the number 8

the number is greater than 6
the num is independent

In [17]:
vowels=["a","e","i","o","u"]

vow= input ("enter vowel:").lower()

if vow in vowels:
    print("It is a vowel")
else:
    print('It is not a vowel')

enter vowel: s

It is not a vowel

### if else ststement

In [5]:
age=25
if age>18:
    print("vote")
elif age==21:
    print("no vote")
else :
    print("bye")

vote

In [1]:
a=["a","e","i","o","u"]

In [7]:
vov=input("enter any vowel").lower()
if vov in a:
    print("it is vowel")
else:
    print("it is not a vowel")

enter any vowel a

it is vowel

In [3]:
f_name="subi"
l_name="kutty"
print(f"the first name is {f_name} and last name is {l_name}")

the first name is subi and last name is kutty

In [4]:
a=2
b=7
print("The sum of a and b is :",a+b)

The sum of a and b is : 9

In [5]:
a=2
b=7
print(f"The sum of {a} and {b} is :",a+b)

The sum of 2 and 7 is : 9

In [6]:
an="area"
type(an)

str

In [7]:
num=22
type(num)

int

In [8]:
dec=22.4
type(dec)

float

In [16]:
f=True
b=2.7
type(f),type(b)

(bool, float)

In [17]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [18]:
1o=2

SyntaxError: invalid decimal literal (2153297352.py, line 1)

In [22]:
IR8="miracle rice"
print(IR8)

miracle rice

In [23]:
_=55
print(_)

55

In [24]:
bool(0)

False

In [2]:
bool(1)

True

In [1]:
bool(" ")

True

In [27]:
bool("")

False

In [28]:
bool("False")

True

In [29]:
bool(False)

False

In [45]:
name="Subesan"
name[0:6:2]

'Sbs'

## if elif practice

In [20]:
# even or odd if else
num=int(input("enter the number"))
if num%2==0:
    print("even no")
else:
    print("odd no")

enter the number 3

odd no

In [26]:
# +ve,-ve,0
num=int(input("enter the number"))
if num >0:
    print("+ve ")
elif num<0:
    print("-ve ")
else :
    print("0")

enter the number 23344567890

+ve

In [29]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
if num1>num2:
    print("first no is greater")
elif num1<num2:
    print("second no is greater")
else:
    print("both numbers are equal")

enter the number 71
enter the number 74

second no is greater

In [33]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
num3=int(input("enter the number"))

if num1>=num2 and num1>=num3:
    print("first no is greater")
elif num2>=num1 and num2>=num3:
    print("second no is greater")
else:
    print("third no is greater")

enter the number 7
enter the number 6
enter the number 4

first no is greater

In [34]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
num3=int(input("enter the number"))

largest=max(num1 ,num2,num3)
print("the largest no is:",largest)

enter the number 2
enter the number 3
enter the number 5

the largest no is: 5

In [40]:
# leap year check
year=int(input("enter the year:"))

if year %4==0:
    print("leap year")
else :
    print("non leap yr")

enter the year: 2029

non leap yr

In [52]:
# divisiblity check by both 3 &5
num=int(input("enter no:"))
if num%3==0 and num%5==0:
    print ("div by both 3 & 5")
elif num%3==0 and num%5!=0:
    print("div only by 3 not 5 ")
elif num%5==0 and num%3!=0:
    print("div only by 5 not 3")
else:
    print("not divisible")

enter no: 15

div by both 3 & 5

In [60]:
# even- odd  div by 4
num=int(input("enter no:"))

if num%2==0 and num%4==0:
    print("even & div by 4")
    
elif num%2!=0:
    print(" odd ")
    2
else:
    print("even but not div by 4")

enter no: 23446

even but not div by 4

In [68]:
# CALCULATOR

num1=float(input("enter no:"))
num2=float(input("enter no:"))
op=input("operation(+,-,*,/):")

if op == "+":
    print("res:",num1+num2)
elif op == "-":
    print("res:",num1-num2)
elif op == "*":
    print("res:",num1*num2)
elif op =="/":
    if num2 !=0:
        print("res:",num1/num2)
    else:
        print("div by zero no allowed")
else:
    print("invalis opern")

enter no: 2
enter no: 4
operation(+,-,*,/): -

res: -2.0

In [73]:
angle1=int(input("enter anlgle:"))
angle2=int(input("enter anlgle:"))
angle3=int(input("enter anlgle:"))


if angle1+angle2+angle3 == 180:
           print("these angles for a triangle")
else:
    print("not forms a triangle")

enter anlgle: 90
enter anlgle: 45
enter anlgle: 45

these angles for a triangle

In [81]:
### electricity bill
unit=int(input("enter the units used:"))

if unit <100:
    print("Free units,no charges")
    
elif unit >=100 and unit<200 :
    free_unit=100
    chargable_unit=unit-free_unit
    bill = chargable_unit * 5
    
else :
    free_unit=100
    mid_unit= 100
    chargeable_units = units - 200
    bill = (mid_unit * 5) + (chargeable_units *10)

print("total bill:",bill)

enter the units used: 123

total bill: 115

In [95]:
# vol/consonant/digit/spl ch
val=input("enter any input:")

if val.isdigit():
    print("digit")
    
elif val.isalpha():
    if val.lower() in "aeiou":
        print("vow")
    else :
        print("consonant")
        
else :
    print("spl ch ")

enter any input: #

spl ch

In [8]:
n=int(input())
if n%2!=0:
    if n>=2 and n<=5:
        print("Not Weird")
    elif n>=6 and n<=20 :
        print("Weird")
    elif n>20:
        print(" Not Weird")
else:
     print("Weird")

 21

 Not Weird

### WHILE LOOP PRAC

In [1]:
i=0
while i<5:
    print("Rohit")
    i=i+1
print('end')

Rohit
Rohit
Rohit
Rohit
Rohit
end

In [3]:
i=1
while i<4:
    print(i)
    i=i+1

1
2
3

In [5]:
i=1
while i<10:
    print(i*2-1) # prints odd number 
    i=i+1

1
3
5
7
9
11
13
15
17

In [6]:
# BREAK
i=1
while i<12:
    square = i ** 2
    print ('sq value is ',square)
    if square ==36:
        break 
    i=i+1

sq value is  1
sq value is  4
sq value is  9
sq value is  16
sq value is  25
sq value is  36

In [11]:
# CONTINUE 
n=1
while n<7:
    cube = n*n*n
    if cube == 125:
        print("skip cube 125")
        n=n+1
        continue
    print("cube val is",cube)
    n=n+1
print("the end")

cube val is 1
cube val is 8
cube val is 27
cube val is 64
skip cube 125
cube val is 216
the end